<div class="col-md-12 column ui-sortable">
      <h3><%=@user_summary[:username] %></h3>
        <ul>
        <li>Tweets: <%= @user_summary[:tweet_count] %></li>
        <li>Followers: <%= @user_summary[:followers] %></li>
        <li>Following: <%= @user_summary[:following] %> </li>
        </ul>
</div>